{% extends 'layout.html' %}

{% block title %}My favourite recipes{% endblock %}

{% block content %}

<table class="table table-bordered table-hover">

    <thead  style="background-color:#4B0082; color: white">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Category</th>
            <th scope="col">User</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for favourite in favourites %}
            {% if favourite.id_user.pk == request.user.pk %}
        <tr >
            <td>{{ favourite.pk }}</td>
            <td >{{ favourite.id_recipe.name }}</td>
            <td >{{ favourite.id_recipe.get_category_display }}</td>
            <td >{{ favourite.id_user.username }}</td>
            <td>
                <a href="#">
                    <button type="button">
                        Detalii
                    </button>
                </a>
            </td>
        </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table>
{% endblock %}