{% extends 'layout.html' %}

{% block title %}All recipes{% endblock %}

{% block content %}

<table>

    <thead style="background-color:#4B0082; color: white">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Category</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for recipe in recipes %}
        <tr >
            <td>{{ recipe.pk }}</td>
            <td>{{ recipe.name }}</td>
            <td>{{ recipe.get_category_display }}</td>
            <td>
                <a href="#">
                    <button  type="button">
                        Detalii
                    </button>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}