{% extends 'layout.html' %}

{% block title %}My recipes{% endblock %}

{% block content %}

<div id="content">
					<div>
						<ul>
                            {% for recipe in myrecipes %}
                                {% if recipe.id_user.pk == request.user.pk %}

                                    <li>
                                        <a style="width:25%" href="#"><img style="height:161px;width:161px"src="{{ recipe.image.url }}" alt="Image"></a>
                                        <div style="">
                                            <h3><a href="#">{{ recipe.name }}</a></h3><div>
                                            <p></p>
                                                <ul style="padding:5px;">
                                                    <li><strong>No. of Portions:</strong>{{ recipe.no_portions }}</li>
                                                    <li><strong>Category:</strong>{{ recipe.get_category_display}}</li>
                                                    <li><strong>Created at:</strong>{{ recipe.created }}</li>
                                                    <li>
                                                        <a href="{% url 'recipe_detail' pk_user=recipe.id_user.pk pk=recipe.pk %}"><button type="button">Details</button></a>
                                                        <a href="{% url 'delete_recipe' pk=recipe.pk %}"><button type="button">Delete</button></a>
                                                    </li>
                                                </ul>
                                        </div></div>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
</div>

{% endblock %}
